# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
venv*/
env/
env3.*/
ENV/
.venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
test.db

# IDEs
.idea/
.vscode/
.ipynb_checkpoints/
*.sw?
*.swp
*.swo
*~
.cache

# Environment files
.env
.env.local
.env.*.local
log.txt

# OS
.DS_Store
Thumbs.db

# Documentation builds
docs_build/
site_build/
site/
docs.zip
archive.zip

# Pipenv
Pipfile.lock

# Archives
*.zip
